{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier la tâche{{ task.name }}{% endblock %}

{% block body %}
    <h1>Modifier la tâche : {{ task.name }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}